<link rel="stylesheet" href="css/login/login.css">
<div class="container-fluid" style="background-color:#e2e2e4">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2">
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading">
                    <h3>来呀，注册呀</h3>
                </div>
                <div class="panel-body">
                    <div class="input-group col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <span class="input-group-addon" id="basic-addon1">
                         <img src="images/login/tou.png" alt="tou">
                         </span>
                        <input type="text" class="form-control" placeholder="请输入账号" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <span class="input-group-addon" id="basic-addon1">
                            <img src="images/login/suo.png" alt="tou">
                        </span>
                        <input type="password" class="form-control" placeholder="请输入密码" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <span class="input-group-addon" id="basic-addon1">
                            <img src="images/login/suo.png" alt="tou">
                        </span>
                        <input type="password" class="form-control" placeholder="请再次输入密码" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <input type="checkbox"  checked>
                        <span>用户勾选即代表同意《服务条款》和《用户隐私保护和个人信息利用政策》</span>
                    </div>
                    <div>
                        <button type=" button " class="btn col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" id="loginbtn">登&emsp;&emsp;录</button>
                    </div>
                    <div class="input-group col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" id="frlogin">
                        <a href="#/login"><span>已有账号，返回登录</span></a>
                        <a href="#/main"><span>先不注册，继续购物</span></a>
                    </div>
                    <div class="sigma-content">
                        <div class="sigma-middle-line  col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                            <span class="sigma-line-text">其他登录方式</span>
                        </div>
                    </div>
                    <div class="input-group col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" id="otherl">
                        <a href=""><img src="images/login/wechat.png" alt=""></a>
                        <a href=""><img src="images/login/qq.png" alt=""></a>
                        <a href=""><img src="images/login/weibo.png" alt=""></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>