a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #b4a078;
    text-decoration: none;
}
.breadcrumb {
    padding: 15px 0px;
    margin-bottom: 0px;
}

.hqlogo{
    padding-bottom: 10px;
}
.hqtitle{
    font-size: 3rem;
}
.quilt{
    padding-left: 0;
}
ul{
    list-style: none;
}
.thumbnail{
    border: none;
}
.caption>p{
    color: red
}
