<link rel="stylesheet" href="css/main/types.css">
<link rel="stylesheet" href="css/home/home.css">
<div ng-controller="grocerCtrl">
    <!--<span>{{value}}</span>-->
    <div class="container-fluid" style="background-color:#f5f5f5">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#/main">首页</a></li>
                    <li class="active">杂货</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div id="banners" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <a href="#">
                    <img src="images/home/home-banner.jpg" alt="homebanner" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="row" id="stationery">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/groceries/stationery/stationery.png" alt="logo">
                <span class="hqtitle">文具</span>
                <span>找回书写的力量</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="s in stationery">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{s.href}}">
                                    <img src="{{s.src}}" alt="{{s.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{s.href}}">{{s.item}}</a></h3>
                                    <p>{{s.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" id="incroporated">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/groceries/incroporated/incroporated.png" alt="logo">
                <span class="hqtitle">收纳</span>
                <span>选自古驰竹柄原料供应商</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="i in incroporated">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{i.href}}">
                                    <img src="{{i.src}}" alt="{{i.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{i.href}}">{{i.item}}</a></h3>
                                    <p>{{i.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row" id="travel">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/groceries/travel/travel.png" alt="logo">
                <span class="hqtitle">旅行</span>
                <span>旅途，贴心相伴</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="t in travel">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{t.href}}">
                                    <img src="{{t.src}}" alt="{{t.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{t.href}}">{{t.item}}</a></h3>
                                    <p>{{t.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row" id="foreign">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/groceries/foreign/foreign.png" alt="logo">
                <span class="hqtitle">海外</span>
                <span>来自海外制造商的好物</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="f in foreign">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{f.href}}">
                                    <img src="{{f.src}}" alt="{{f.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{f.href}}">{{f.item}}</a></h3>
                                    <p>{{f.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row" id="outdoor">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/groceries/outdoor/outdoor.png" alt="logo">
                <span class="hqtitle">户外</span>
                <span>MUJI、Nike等制造商出品</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="o in outdoor">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{o.href}}">
                                    <img src="{{o.src}}" alt="{{o.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{o.href}}">{{o.item}}</a></h3>
                                    <p>{{o.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row" id="record">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/groceries/record/record.png" alt="logo">
                <span class="hqtitle">唱片</span>
                <span>经典音乐，用心典藏</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="r in record">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{r.href}}">
                                    <img src="{{r.src}}" alt="{{r.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{r.href}}">{{r.item}}</a></h3>
                                    <p>{{r.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>