<!--底部-->
    <div id="bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                         <h3>客服电话</h3>
                         <h4>400-0368-163</h4>
                         <p>9:00-22:00</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <h3>我们的保证</h3>
                         <ul id="promise">
                             <li>30天无忧退货</li>
                             <li>满88元免邮费</li>
                             <li>杨恭品质保证</li>
                         </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <h3>客服电话</h3>
                         <h3>400-0368-163</h3>
                         <p>9:00-22:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container-fluid">
            <span class="col-lg-10 col-md-10 col-md-offset-1">
                ©2005-2016 东莞市永盛通信科技有限公司 版权所有 粤ICP备08130115号-1 联系方式：4001-666-888
            </span>
        </div>
    </div>