        <div class="row" style="margin-top:15px;">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        大家都在看
                    </div>
                    <div class="panel-body">
                        <div class="owl-carousel-brand">
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item1.jpg" alt="1">
                                    <h5>泡泡纱</h5>
                                    <span>￥229.00</span>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item2.jpg" alt="1">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item3.jpg" alt="1">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item4.jpg" alt="1">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item5.jpg" alt="1">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item6.jpg" alt="1">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item3.jpg" alt="1">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item2.jpg" alt="1">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item5.jpg" alt="1">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item6.jpg" alt="1">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item1.jpg" alt="1">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/newpro/item6.jpg" alt="1">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/index.js">
            
        </script>