<div id="brand1" class="container-fluid">
    <div id="title" class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
            <div class="col-lg-3 col-md-4 col-sm-4">
                <h2>品牌制造</h2>
            </div>
            <div id="small" class="col-lg-9 col-md-8 col-sm-8">
                <small id="small1">工厂直达消费者，剔除品牌溢价</small>
                <a href="#" class="pull-right" id="small2">
                    <small>更多制造商></small>
                </a>
            </div>
        </div>
    </div>
    <div class="wow-brand slideInLeft" data-wow-offset="10">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                <div class="owl-carousel-brand">
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item1.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item2.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item3.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item4.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item5.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item6.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item3.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item2.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item5.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item6.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item1.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item6.jpg" alt="1">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/controllers/main/brand.js"></script>