<div id="brand2" class="container-fluid">
    <div id="title" class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
            <div class="col-lg-3 col-md-4 col-sm-4">
                <h2>新品首发</h2>
            </div>
            <div id="small" class="col-lg-9 col-md-8 col-sm-8">
                <small id="small1">周一周四上新，为你寻觅世间好物</small>
                <a href="#" class="pull-right" id="small2">
                    <small>更多新品></small>
                </a>
            </div>
        </div>
    </div>
    <div class="wow-newpro slideInLeft" data-wow-duration="2s" data-wow-delay="">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                <div class="owl-carousel-newpro">
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item1.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item2.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item3.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item4.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item5.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item6.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item3.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item2.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item5.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item6.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item1.jpg" alt="1">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="images/newpro/item6.jpg" alt="1">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/controllers/main/newpro.js"></script>