<link rel="stylesheet" href="css/main/types.css">
<link rel="stylesheet" href="css/home/home.css">
<div ng-controller="homeCtrl">
    <div class="container-fluid" style="background-color:#f5f5f5">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#/main">首页</a></li>
                    <li class="active">居家</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div id="banners" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <a href="#">
                    <img src="images/home/home-banner.jpg" alt="homebanner" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="row" id="quilt">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/home/quilt/quilt.png" alt="logo">
                <span class="hqtitle">被枕</span>
                <span>守住你的睡眠时光</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="q in quilt">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{q.href}}">
                                    <img src="{{q.src}}" alt="{{q.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{q.href}}">{{q.item}}</a></h3>
                                    <p>{{q.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" id="mattress">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/home/mattress/mattress.png" alt="logo">
                <span class="hqtitle">床垫</span>
                <span>承托你的好时光</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="m in mattress">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{m.href}}">
                                    <img src="{{m.src}}" alt="{{m.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{m.href}}">{{m.item}}</a></h3>
                                    <p>{{m.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row" id="carpet">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/home/carpet/carpet.png" alt="logo">
                <span class="hqtitle">地毯</span>
                <span>家里的第“五”面墙</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="c in carpet">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{c.href}}">
                                    <img src="{{c.src}}" alt="{{c.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{c.href}}">{{c.item}}</a></h3>
                                    <p>{{c.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row" id="furniture">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/home/furniture/furniture.png" alt="logo">
                <span class="hqtitle">家具</span>
                <span>大师级工艺</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="f in furniture">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{f.href}}">
                                    <img src="{{f.src}}" alt="{{f.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{f.href}}">{{f.item}}</a></h3>
                                    <p>{{f.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row" id="cushion">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/home/cushion/cushion.png" alt="logo">
                <span class="hqtitle">舒坐</span>
                <span>减缓久坐疲惫</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="c in cushion">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{c.href}}">
                                    <img src="{{c.src}}" alt="{{c.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{c.href}}">{{c.item}}</a></h3>
                                    <p>{{c.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row" id="decoration">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/home/decoration/decoration.png" alt="logo">
                <span class="hqtitle">装饰</span>
                <span>装饰你的家</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="d in decoration">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{d.href}}">
                                    <img src="{{d.src}}" alt="{{d.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{d.href}}">{{d.item}}</a></h3>
                                    <p>{{d.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>