<link rel="stylesheet" href="css/main/types.css">
<link rel="stylesheet" href="css/home/home.css">
<div ng-controller="foodsCtrl">
    <!--<span>{{value}}</span>-->
    <div class="container-fluid" style="background-color:#f5f5f5">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#/main">首页</a></li>
                    <li class="active">饮食</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div id="banners" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <a href="#">
                    <img src="images/home/home-banner.jpg" alt="homebanner" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="row" id="pastry">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/foods/pastry/pastry.png" alt="logo">
                <span class="hqtitle">糕点</span>
                <span>四季糕点，用心烘焙</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="p in pastry">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{p.href}}">
                                    <img src="{{p.src}}" alt="{{p.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{p.href}}">{{p.item}}</a></h3>
                                    <p>{{p.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" id="snack">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/foods/pastry/pastry.png" alt="logo">
                <span class="hqtitle">小食</span>
                <span>天然原料，健康烹饪</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="s in snack">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{s.href}}">
                                    <img src="{{s.src}}" alt="{{s.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{s.href}}">{{s.item}}</a></h3>
                                    <p>{{s.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" id="dryfruit">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/foods/dryfruit/dryfruit.png" alt="logo">
                <span class="hqtitle">果干</span>
                <span>健康，好味道</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="d in dryfruit">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{d.href}}">
                                    <img src="{{d.src}}" alt="{{d.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{d.href}}">{{d.item}}</a></h3>
                                    <p>{{d.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="nut">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/foods/nut/nut.png" alt="logo">
                <span class="hqtitle">坚果</span>
                <span>原产地直供，颗颗饱满</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="n in nut">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{n.href}}">
                                    <img src="{{n.src}}" alt="{{n.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{n.href}}">{{n.item}}</a></h3>
                                    <p>{{n.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" id="drink">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/foods/drink/drink.png" alt="logo">
                <span class="hqtitle">冲饮</span>
                <span>用料天然，谷香四溢</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="d in drink">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{d.href}}">
                                    <img src="{{d.src}}" alt="{{d.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{d.href}}">{{d.item}}</a></h3>
                                    <p>{{d.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row" id="tea">
            <div class="col-lg-3 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-12" style="margin-top:30px;">
                <img class="hqlogo logoimg-responsive" src="images/foods/tea/tea.png" alt="logo">
                <span class="hqtitle">茗茶</span>
                <span>大师级好茶，带来慢生活</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="quilt">
                    <li ng-repeat="t in tea">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-right:5px;padding-left:0;">
                            <div class="thumbnail">
                                <a href="{{t.href}}">
                                    <img src="{{t.src}}" alt="{{t.alt}}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="{{t.href}}">{{t.item}}</a></h3>
                                    <p>{{t.price | currency:"￥"}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>